-if @user == current_user
    =link_to 'Edit profile', edit_user_registration_path

%h4 Name:
%p= "#{@user.first_name} #{@user.last_name}"

%h4 Email:
%p= @user.email

%h4 Address:
%p= @user.address

%h4 Age:
%p= @user.age

%h4 Driving Age:
%p= @user.driving_age

%h4 Phone:
%p= @user.phone

%h4 About:
%p= @user.about


=link_to "Back" , root_path