.header
  = image_tag "background_yellow_logo.png"
.car_div
  - @automobiles.each do |car|
    .car_card
      .max-w-md.w-full.lg.flex.content-around.rounded.overflow-hidden.shadow-lg
        .h-32.lg.h-auto.lg.w-32.flex-none.bg-cover.rounded-t.lg.rounded-t-none.lg.rounded-l.text-center.overflow-hidden{style: "background-image: url('https://images.unsplash.com/photo-1532974297617-c0f05fe48bff?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=700&q=80')", title: "Red car"}
        .border-transparent.lg.pl-2
          .mb-8{id: dom_id(car)}
            %h2.mt-3= "#{car.brand} #{car.model}"
            %br
            .rent_status.mt-3
              -if car.rental_status == true
                %p Rented out
              -else
                %p Available for rent
            %span.inline-block.bg-grey-lighter.rounded.border.px-3.py-1.text-sm.font-semibold.text-grey-darker.mr-2.mt-5="Price: #{car.price} SEK per day"
            %span.inline-block.bg-grey-lighter.rounded.border.px-3.py-1.text-sm.font-semibold.text-grey-darker.mr-2="Year: #{car.year}"
            %span.inline-block.bg-grey-lighter.rounded.border.px-3.py-1.text-sm.font-semibold.text-grey-darker.mr-2= link_to "Dream", automobile_path(car)
            