
- @automobiles.each do |car|
  .max-w-md.w-full.lg:flex
    .h-48.lg:h-auto.lg:w-48.flex-none.bg-cover.rounded-t.lg:rounded-t-none.lg:rounded-l.text-center.overflow-hidden{style: "background-image: url('https://images.unsplash.com/photo-1532974297617-c0f05fe48bff?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=700&q=80')", title: "Red car"}
    .border-r.border-b.border-l.border-grey-light.lg:border-l-0.lg:border-t.lg:border-grey-light.bg-white.rounded-b.lg:rounded-b-none.lg:rounded-r.p-4.flex.flex-col.justify-between.leading-normal
      .mb-8{id: dom_id(car)}
        .text-black.font-bold.text-xl.mb-2= "#{car.brand} #{car.model}"
        %p.text-grey-darker.text-base0="Year: #{car.year}"
        %p.text-grey-darker.text-base="Price: #{car.price} SEK per day"
        -if car.rental_status == true
          %p The car is rented out
        -else
          %p The car is available for rent
        = link_to "Dream", automobile_path(car)